/*====================================================================
siteFooter
====================================================================*/
.siteFooter {
  background-color: $darkGray;
  padding: 40px 0;
}

.cardsItemKv > img {
  border-radius: 50%;
}
